@model ProductModel
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ürün Ekle</h1>
<hr />
<form method="post">
    <label>Ürün Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Stok</label>
    <input type="text" asp-for="Stock" class="form-control" />
    <br />
    <label>Fiyat</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />
    
   
    <button type="submit" value="Ekle" class="btn btn-primary">Ürün Ekle</button>
</form>
