
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
 <div class="container">
     <a  class="navbar-brand" href="/">Shopping</a>
     <ul class="navbar-nav mr-auto">
         <li class="nav-item">
         <a href="#" class="nav-link active">Anasayfa</a>
         </li>
            <li class="nav-item">
                <a href="#" class="nav-link ">Ürünler</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link ">Sepet</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link ">Sipariş</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link ">Ürün ekle</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link ">Ürün Listeleme</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link ">Kategori Listeleme</a>

            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">Çıkış</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">Login</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">Kayıt Ol</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">Kullanıcı</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">Roller</a>
            </li>

     </ul>

 </div>


</nav>